@use "../global/index"as *;

header {
    font-family: $futura;

    &.p_header {
        display: none;

        @include mq(md) {
            display: flex;
            align-items: center;
            height: 10rem;
            box-shadow: 0px 3px 3px rgb(0 0 0 / 5%);
            position: relative;
            z-index: 10;
        }

        &.header.clone-nav {
            display: none;

            @include mq(md) {
                transition: .3s;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background: #fff;
                transform: translateY(-10rem);
                display: flex;
            }

            &.is-show {
                transform: translateY(0);
            }
        }

        .header_wrap {
            @include flex;
            max-width: 128rem;
            margin: auto;
            width: calc(100% - 8rem);

            nav.p_header_nav {
                font-size: 2rem;
                letter-spacing: .2rem;
                font-weight: 500;

                .lang {
                    ul {
                        @include flex($jc:flex-end);
                        gap: 1.3rem;

                        li {
                            @include flex;
                            gap: 1.3rem;

                            &:first-child {
                                &::after {
                                    content: "";
                                    height: 1rem;
                                    width: 0.1rem;
                                    display: flex;
                                    background: #000;
                                }
                            }
                        }
                    }
                }

                ul.gnav {
                    @include flex;
                    gap: 1.3rem;

                    li {
                        @include flex;
                        gap: 1.3rem;

                        &:nth-of-type(-n+5) {
                            &::after {
                                content: "";
                                height: 1rem;
                                width: 0.1rem;
                                display: flex;
                                background: #000;
                            }
                        }

                        &:nth-of-type(n+7) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .header_logo {
        h1 {
            a {
                display: flex;
                width: clamp(180px, 30vw, 300px);
                @include tr;
            }
        }
    }

    &.m_header {
        @include flex;
        padding: 0 1rem 0 2rem;
        height: 5.5rem;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        z-index: 100;
        position: fixed;
        background: #fff;
        width: 100%;
        @include tr;



        @include mq {
            height: 7.5rem;
            padding: 0 4rem;
        }

        @include mq(md) {
            display: none;
        }


        .sp_menu {
            @include flex($jc:flex-start);
            gap: 1rem;
            font-size: 1.4rem;
            color: #aaa;
            letter-spacing: 0.1rem;
            @include tr;


            @include mq {
                gap: 2rem;
            }

            @include mq(md) {
                display: none;
            }

            >div {
                &:first-child {
                    span {
                        transition: .4s;

                        &:last-child {
                            display: none;
                        }
                    }
                }
            }

            &.active {
                >div {
                    &:first-child {
                        span {
                            &.close {
                                display: inline;
                            }

                            &.menu_t {
                                display: none;
                            }
                        }
                    }
                }
            }

            .menu-trigger {
                position: relative;
                width: 3.5rem;
                height: 1.7rem;

                span {
                    transform-origin: 6px 1px;
                    transition: .4s;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 0.1rem;
                    background: #aaa;
                    display: inline-block;

                    &:nth-of-type(1) {
                        top: 0;
                    }

                    &:nth-of-type(2) {
                        top: 0.8rem;
                    }

                    &:nth-of-type(3) {
                        bottom: 0;
                    }
                }
            }

            &.active {
                .menu-trigger {
                    span {
                        &:nth-of-type(1) {
                            transform: rotate(405deg);
                        }

                        &:nth-of-type(2) {
                            opacity: 0;
                        }

                        &:nth-of-type(3) {
                            transform: rotate(-405deg);
                        }
                    }
                }
            }
        }

        .m_header_nav {
            transition: .4s;
            position: absolute;
            top: 5.5rem;
            left: 0;
            width: 100%;
            background: rgb(255 255 255 / 90%);
            z-index: 10;
            transform: translate(-100vw, 0);
            height: calc(var(--vh, 1vh) * 100 - 5.5rem);
            letter-spacing: 0.2rem;
            @include tr;

            &.active {
                transform: translate(0, 0);
            }

            ul.gnav {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                display: flex;
                width: 100%;
                flex-direction: column;
                text-align: center;
                gap: 3rem;
                letter-spacing: .2rem;
                font-weight: 500;

                @include mq {
                    font-size: 3.5rem;
                    letter-spacing: .3rem;
                }
            }
        }
    }
}