@use "../global/index"as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $futura, $noto, sans-serif;
    @include tr;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    margin: 0 0 2rem;

    @include mq {
        font-size: 4.5rem;
        margin: 0 0 4rem;

        @include mq(md) {
            text-align: left;
        }
    }
}

.sticky {
    div {
        h3 {
            font-size: 3rem;
            letter-spacing: 0.2rem;
            border-bottom: 1px solid #D1CDCD;
            padding: 0 0 0.5rem;
            max-width: 20rem;
            margin: 0 0 2.5rem;
        }
    }
}

.post_name {
    h2 {
        font-size: 2.5rem;
        text-align: left;
        letter-spacing: .1rem;
        margin: 0 0 0.5rem;
        line-height: 1.2;

        @include mq {
            font-size: 3rem;
        }
    }
}

h4.info {
    font-size: 2rem;
    margin: 0 0 0.5rem;
}

section#c_1 {
    >h2 {
        +h3 {
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
            font-family: $din, $noto, sans-serif;
            margin: 0 0 1rem;
        }
    }
}

.page_content {
    h2 {
        text-align: left;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        margin: 0 0 1rem;
    }

    h4 {
        font-weight: 500;
        margin: 0 0 0.5rem;
    }

    h6 {
        font-family: $din, $noto, sans-serif;
        padding: 0 0 5rem;
        font-size: 1rem;
        line-height: 1.2;
        width: 100%;
    }
}

.t_detail.audiocom_detail {
    font-family: $din, $noto, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    width: 100%;
}